<h1>Todo app using Backbone with pure JavaScript</h1>

<section class="container" id="content">
	<div class="row">
	<% _.each(todos.models, function(model) {%>
		<p><input type="checkbox" class="checkbox"/> <%= model.get('task') %></p>
	<% }) %>
	</div>
</section>